{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    # email emanuele.gissi@gmail.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# run mkcert.sh before starting with local hosting
(ssl_certs) {
  tls /etc/certs/cert.pem /etc/certs/key.pem
}

apps.ge.dipvvf.it {
  import ssl_certs
  root * /web/
  file_server browse
}

grist.ge.dipvvf.it {
  import ssl_certs
  reverse_proxy /whoami whoami:{$WHOAMI_PORT}
  reverse_proxy grist:{$GRIST_PORT}
}

dex.ge.dipvvf.it {
  import ssl_certs
  reverse_proxy dex:{$DEX_PORT}
}

nodered.ge.dipvvf.it {
  import ssl_certs
  reverse_proxy nodered:{$NODERED_PORT}
}
